{% extends "base.twig" %}
{% block content %}
    <div class="row">
        <div class="col">
            <div class="card">
                <h2 class="card-title">{{ schedule.name }} <small class="text-muted">(by: {{ schedule.owner.userID }})</small></h2>
                <div class="card-body">
                    <p class="card-text">{{ schedule.description }}</p>
                </div>
                <h3>Schedule</h3>
                <table class="table">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">Year</th>
                        {% for period in terms %}
                            <th scope="col">{{ period }}</th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for year in years %}
                        <tr>
                            <th scope="row">{{ year }}</th>
                            {% for period in terms %}
                                <td>
                                    {% for course in schedule.addedCourses %}
                                        {% if course.period == period and course.year == year %}
                                            {{ course.course.id }}
                                        {% endif %}
                                    {% endfor %}
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col">
            <div>
                <h3>List of Courses</h3>
                <table>
                    <thead>
                    <tr>
                        <td>Course ID</td>
                        <td>Term</td>
                        <td>Year</td>
                    </tr>
                    </thead>
                    {% for course in schedule.addedCourses %}
                        <tr>
                            <td>{{ course.course.id }}</td>
                            <td>{{ course.period }}</td>
                            <td>{{ course.year }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}